$navColor: rgb(31, 31, 31);
$navMobileColor: rgb(62, 98, 100);
$fontColor: white;
$mainColor: rgb(83, 150, 154);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	
body {
	
	font-family: 'Titillium Web', sans-serif;
}

/* remaking the navbar */

.navigation {
	width: 100%;
	height: 3.5rem;
	background-color: $navColor;
}

.navigation h1 {
	padding: 0.8rem 1.4rem;
	height: 0;
	float: left;
	font-size: 21px;
	font-weight: bold;
	color: $fontColor;
}

.portfolio {
	font-size: 18px;
	color: $fontColor;
	padding: 0.3rem 1.3rem;
}

.navigation ul {
	float: right;
	padding: 0.7rem 1rem;
}

.navigation ul li{
	float: left;
	list-style: none;
	position: relative;
}

.navigation ul li a {
	display: block;
	text-decoration: none;
	padding: 0.3rem 1.3rem;
	font-size: 18px;
	color: $fontColor;
}

.navigation ul li a::after {
	content: "";
	position: absolute;
	left: 12px;
	bottom: 3px;
	width: 55%;
	height: 1px;
	margin-left: 0.5rem;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 250ms ease-in;
	background-color: $mainColor;
}

.navigation ul li a:hover::after {
	transform: scaleX(1);
}

.navigation ul li ul {
	display: none;
	background-color: $navColor;
	border-radius: 0 0 0.7rem 0.7rem;
}

.navigation ul li:hover ul {
	display: block;
	position: absolute;
}

.navigation ul li ul li {
    width: 120px;
	border-radius: 0.7rem;
}

.navigation ul li ul li a {
	padding: 0.5rem;
	color: $fontColor;
}

/* for making the underline for transition */

.navigation ul li ul li a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 85%;
	height: 1.5px;
	margin-left: 0.5rem;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 250ms ease-in;
	background-color: $mainColor;
}

.navigation ul li ul li a:hover::after {
	transform: scaleX(1);
}

#menu {
	float: right;
	color: $fontColor;
	font-size: 25px;
	margin: 0.7rem 0;
	margin-left: 0.3rem;
	margin-right: 2rem;
	display: none;
}

 .welcome {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	
}

.icon {
	border-radius: 80px;
}

.welcome h1 {
	position: relative;
	font-weight: bold;
	font-size: 48px;
	border-bottom: 0.2rem solid $mainColor;
}

.welcome p {
	margin-top: 3rem;
	font-size: 20px;
	width: 50%;
	text-align: center;
}

.work {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin: 1.3rem 0;
}

button {
	height: 2.5rem;
	padding: 0.7rem;
	border-radius: 0.5rem;
	border-style: hidden;
	position: relative;
	z-index: 1;
	cursor: pointer;
	background-color: $navColor;
	margin: 0 1rem;
}

button a {
	text-decoration: none;
	color: $fontColor;
	font-weight: bold;
}

button::after {
	content: "";
	position: absolute; 
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 250ms ease-in;
	top: 0;
	left: 0;
	background-color: $mainColor;
	border-radius: 0.5rem;
	z-index: -1;
}

button:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

@media (max-width: 768px){

	.navigation h1 {
		padding-top: 1.3rem;
		padding-bottom: 1.1rem;
		font-size: 25px;
	}

	.navigation {
		margin: 0;
	}

	.navigation ul{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: $navColor;
	}

	.navigation ul.show{
		left: 0;
	}

	.navigation ul li {
		display: none;
		width: 100%;
	}

	.navigation ul:hover li{
		display: block;
	}

	.navigation ul li ul {
		position: relative;
		width: 100%;
	}

	.navigation ul li a {
		font-size: 25px;
		text-align: center;
		line-height: 3rem;
	}

	.navigation ul li a::after {
		content: "";
		display: none;
	}

	.navigation ul li ul li a::after {
		content: "";
		display: none;
	}

	.portfolio {
		text-align: center;
		font-size: 25px;
	}

	.navigation ul li ul {
		z-index: 1;
	}

	.navigation ul li ul li {
		width: 100%;
		margin-bottom: 0.5rem;
	}

	.navigation ul li ul li a {
		text-align: center;
		font-size: 25px;
	}

	.navigation ul li ul li a:hover{
		background: $navMobileColor;
	}

	#menu {
		display: block;
	    margin-top: 1.3rem;
		margin-bottom: 1.1rem;
	}

	.welcome h1 {
		font-size: 35px;
	}

	.welcome p {
		width: 80%;
		margin-bottom: 0.5rem;
		font-size: 18px;
	}

	button {
		padding: 0.5rem;
	}

	button a {
		font-size: 12px;
	}

}

@media (max-width: 480px){

	.navigation h1{
		font-size: 25px;
		padding-top: 1.2rem;
		padding-bottom: 0.9rem;
	}

	.navigation ul li a {
		font-size: 20px;
	}

	.portfolio {
		font-size: 20px;
	}

	.navigation ul li ul li a {
		font-size: 20px;
	}

	.welcome h1 {
		font-size: 25px;
	}

	button {
		padding: 0.3rem;
	}

	button a {
		font-size: 12px;
	}
}
