* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

/* remaking the navbar */
.navigation {
  width: 100%;
  height: 3.5rem;
  background-color: #1f1f1f;
}

.navigation h1 {
  padding: 0.8rem 1.4rem;
  height: 0;
  float: left;
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.portfolio {
  font-size: 18px;
  color: white;
  padding: 0.3rem 1.3rem;
}

.navigation ul {
  float: right;
  padding: 0.7rem 1rem;
}

.navigation ul li {
  float: left;
  list-style: none;
  position: relative;
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 18px;
  color: white;
}

.navigation ul li a::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 3px;
  width: 55%;
  height: 1px;
  margin-left: 0.5rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  background-color: #53969a;
}

.navigation ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation ul li ul {
  display: none;
  background-color: #1f1f1f;
  border-radius: 0 0 0.7rem 0.7rem;
}

.navigation ul li:hover ul {
  display: block;
  position: absolute;
}

.navigation ul li ul li {
  width: 120px;
  border-radius: 0.7rem;
}

.navigation ul li ul li a {
  padding: 0.5rem;
  color: white;
}

/* for making the underline for transition */
.navigation ul li ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 85%;
  height: 1.5px;
  margin-left: 0.5rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  background-color: #53969a;
}

.navigation ul li ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#box {
  display: none;
}

.menu {
  float: right;
  color: white;
  font-size: 25px;
  margin: 0.7rem 0;
  margin-left: 0.3rem;
  margin-right: 2rem;
  display: none;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 4rem;
}

.description h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.description p {
  line-height: 1.8rem;
}

.gallery {
  margin-bottom: 7rem;
  margin-top: 3rem;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.pictures > li {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
}

.pictures li {
  list-style: none;
}

.pictures li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-radius: 3px;
  border: 0.1rem solid grey;
}

.pictures img {
  padding: 1rem;
}

@media (max-width: 768px) {
  .navigation h1 {
    padding-top: 1.3rem;
    padding-bottom: 1.1rem;
    font-size: 25px;
  }
  .navigation {
    margin: 0;
  }
  .navigation ul {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1f1f1f;
  }
  .navigation ul.show {
    left: 0;
  }
  .navigation ul li {
    display: none;
    width: 100%;
  }
  .navigation ul:hover li {
    display: block;
  }
  .navigation ul li ul {
    position: relative;
    width: 100%;
  }
  .navigation ul li a {
    font-size: 25px;
    text-align: center;
    line-height: 3rem;
  }
  .navigation ul li a::after {
    content: "";
    display: none;
  }
  .navigation ul li ul li a::after {
    content: "";
    display: none;
  }
  .portfolio {
    text-align: center;
    font-size: 25px;
  }
  .navigation ul li ul {
    z-index: 1;
  }
  .navigation ul li ul li {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .navigation ul li ul li a {
    text-align: center;
    font-size: 25px;
  }
  .menu {
    display: initial;
    margin-top: 1.3rem;
    margin-bottom: 1.1rem;
  }
  .description h1 {
    padding-top: 1rem;
    font-size: 35px;
  }
  .description p {
    font-size: 18px;
  }
  .pictures {
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .navigation h1 {
    font-size: 25px;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
  }
  .navigation ul li a {
    font-size: 20px;
  }
  .portfolio {
    font-size: 20px;
  }
  .navigation ul li ul li a {
    font-size: 20px;
  }
}
/*# sourceMappingURL=uiux.css.map */